@font-face {
  font-family: "NatLog";
  src: url("fonts/natural_log/natlog.ttf");
}

@font-face {
  font-family: "Adventure";
  src: url("fonts/adventure/Adventure.otf");
}

@font-face {
  font-family: "Adventure Hollow";
  src: url("fonts/adventure/Adventure Hollow.otf");
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("fonts/poppins/Poppins-Regular.otf");
}

html {
  font-size: 16px;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Verdana;
  margin: 0;
}

.foncee {
  background-color: #808080;
  color: #ffffff;
}

.claire {
  background-color: #D9D9D9;
  color: #000000;
}

/*******************FORM LOGIN*******************/
#div-body {
  /* J'ai utilise ce div pour pouvoir centrer plus facilement le formulaire complet*/
  min-height: 100vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

#formDiv {
  width: 25rem;
  height: 37.5rem;
  margin: auto;
  background-color: rgb(218 218 218);
  border-radius: 1.5625rem;
  position: relative; /* Je l'ai mis en "relative" pour pouvoir positionner le "h2-login" comme je veux par rapport aux parent et non a la page. */
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  box-shadow: 0.625rem 0.625rem 3.125rem rgb(60 60 60),
    -0.625rem -0.625rem 3.125rem rgb(60 60 60 / 0%),
    0.625rem -0.625rem 3.125rem rgb(60 60 60 / 0%),
    -0.625rem 0.625rem 3.125rem rgb(60 60 60);
}

#h2-login {
  /* Titre "Login" */
  font-weight: bold;
  text-decoration: underline;
  font-size: 2.5rem;
  position: absolute;
  top: 1.875rem;
}

#form-login {
  font-size: 1.5rem;
  position: relative; /* Je l'ai mis en "relative" pour pouvoir positionner les enfants comme je veux par rapport aux parent et non a la page. */
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
}

#div-passwd {
  margin-top: 1.25rem;
}

#form-login .form-check {
  /* "Remember me checkbox" */
  font-size: 0.8rem;
  margin-top: 1.875rem;
}

#form-login .btn-primary {
  /*bouton de connection*/
  width: 100%;
  position: relative;
  top: 2.5rem;
}

/*******************HEADER de la page Client*******************/

#header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 0px;
  background-color: #D9D9D9;
  align-content: center;
  text-align: center;
  line-height:1.5;
}

#header a {
  text-decoration: none;
  color: #000000;
}

#header #divLogo{
  width: 150px;
  margin: 20px;
  grid-column: 1/span 2;
}

#header #divLogo #logo {
  width: 150px;
  margin: 20px;
}

#header #titre {
  text-align: center;
  font-family: Adventure;
  grid-column: 3/span 2;
  align-self: center;
  font-size: 2.5rem;
  margin: 0 0 8px 0;
  font-weight: 500;
  line-height: 1.2;
}

#header #infos {
  text-align: right;
  padding: 20px;
  grid-column: 5/span 2;
  align-self: center;
  padding: 20px 50px;
  width: 200px;
  background-color: #A4C408;
  border-radius: 10px;
  justify-self: end;
  margin-right: 20px;
  box-sizing: border-box;
}

#header #navBar {
  grid-column: 1/7;
  align-self: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#header #navBar a{
  display: block;
  background-color: #808080;
  border-radius: 10px;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  width: 200px;
  cursor: pointer;
  text-decoration: none;
  box-sizing: border-box;
}

#header #navBar a:hover {
  background-color: #00FFFF;
  color: #000000;
}

#navBar #info {
  width: 150px;
  justify-self: right;
  margin-right: 150px;
}

#navBar #menu {
  width: 150px;
  justify-self: left;
  margin-left: 150px;
}

#header #navBar .select {
  background-color: #A4C408;
  color: #000000;
}

/*******************Content de la page Infos Client*******************/
#content {
  width: 100%;

  display: grid;
  grid-template-columns: 53.125rem 31.25rem;
  justify-content: space-around;

  padding-top: 60px;
  padding-bottom: 50px;
}

#divInfosClients {
  width: 53.125rem;
  min-height:fit-content;

  background-color: #afafaf;

  border-radius: 2.5rem;
}

#divInfosCartes {
  width: 31.25rem;

  background-color: #afafaf;

  border-radius: 2.5rem;
}

#Cartes{
  background-color:#808080 ;
  height: 60px;
  border-radius: 2.5rem 2.5rem 0 0;

  display: grid;
  justify-content:center;
  align-items: center;
}

#Cartes p{
  margin:0;
  padding:0;

  font-size:2.6rem;
  Color: white;
}

#HeaderTab{ 
  display:flex;
  height: 40px;
  border-radius: 0 0 1.25rem 1.25rem;

  grid-template-columns: repeat(4, 1fr);

  justify-content: space-around;
  align-items:center;
  
  background-color:aqua;
}

#HeaderTab p{
  width: fit-content;
  margin:0;
  
  background-color:red;
}

/*******************Content de la page Menu Client*******************/

#main_menu {
  display: grid;
  grid-template-columns: 3fr 12fr 6fr;
  margin-top: 75px;
}

#main_menu #type {
  display: grid;
  margin: 0 5px;
  border-radius: 10px;
}

#main_menu #type p {
  font-size: 2.5rem;
  text-align: center;
}

#main_menu #bouttons {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr ;
  padding: 10px;
  row-gap: 20px;
  justify-items: center;
  border-radius: 0 0 10px 10px;
}

#main_menu #bouttons p {
  font-size: 1.75rem;
  text-align: center;
}

#main_menu #bouttons div {
  width: 65%;
  border-radius: 10px;
}

#main_menu #items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

#main_menu #items .item{
  border-radius: 10px;
}